@model WebApplication1.Models.Person

@{
    ViewData["Title"] = "Home Page";
}

<h1>Hello There!</h1>


<table class="table">


	<tr>
		<td>
			@Html.DisplayNameFor(model => model.PersonId)
		</td>
		<td>
			@Html.DisplayFor(model => model.PersonId)
		</td>
	</tr>
	<tr>

	<tr>
		<td>
				@Html.DisplayNameFor(model => model.FirstName)
		</td>
		<td>
				@Html.DisplayFor(model => model.FirstName)
		</td>
	</tr>
	<tr>

			<tr>
				<td>
					@Html.DisplayNameFor(model => model.LastName)
				</td>
				<td>
					@Html.DisplayFor(model => model.LastName)
				</td>
			</tr>
			<tr>



